#footer{
  background: $grayDark;
  background-image: radial-gradient(#7C7E83, #404042);
}

.interior-footer{
  color: $graySuperLight;
  display: flex;
  background: $gray;
}

.interior-footer__wrapper{
  width: 100%;
  max-width: $max-width;
  margin: auto;
  p{
    color: $graySuperLight;
    margin: 0;
  }
  >*{
    padding: .75rem;
  }
  a{
    text-decoration: none !important;
    &:hover, &:focus{
      opacity: .8;
    }
  }
  .social-media{
    font-size: 1rem;
  }
  .social-media a{
    background-color: $graySuperLight;
    &:hover, &:focus{
      opacity: .8;
    }
  }
  .svg-inline--fa{
    color: $graySuperLight;
  }
  .social-media .svg-inline--fa{
    color:  $gray;
  }
  @media (min-width: $breakpoint-tablet) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .expander{
      flex: 1 1 100%;
    }
    >*{
      flex-shrink: 0;
    }
    *:last-child{
      justify-self: end;
    }
  }
}