html, body{
  font-size: 12px;
  box-sizing: border-box;
  @extend .open;
  @media (min-width: $breakpoint-tablet) {
    font-size: 14px;
  }
  @media (min-width: $breakpoint-desktop) {
    font-size: 16px;
  }
  *{
    box-sizing: inherit;
  }
}

.hidden{
  display: block !important;
  position: absolute;
  width: 0 !important;
  height: 0 !important;
  top: 0;
  overflow: hidden;
}

.display-desktop{
  display: none !important;
  @media (min-width: $breakpoint-tablet) {
    display: block !important;
  }
}

.display-mobile{
  display: block !important;
  @media (min-width: $breakpoint-tablet) {
    display: none !important;
  }
}

.unstyled-list{
  list-style-type: none;
  li{
    display: inline-block;
  }
}

a{
  color: inherit;
  text-decoration-color: $yellow;
}

a.yellow{
  color: $yellow;
}

.nobreak{
  white-space: nowrap;
}

h1, h2, h4, h5, h6{
  @extend .bree;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.col_text h1{
  color: $yellow;
}



h2{
  color: $yellow;
  font-size: 2rem;
  line-height: 1.55;
}

h3{
  color: $yellow;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.gray{
  color: $grayLight;
}

.fas, .svg-inline--fa{
  color: $yellow;
}

//sections

.wrapper_profile{
  background-image: url(../images/profile.jpg);
  background-position: center;
  background-size: cover;
  min-height: 0;
  @media (min-width: $breakpoint-tablet) {
    background-position: center;
    min-height: 100vh;
  }
}

.col_text {
  align-self: flex-end;
  flex-basis: 80%;
  padding: 2rem 2rem 4rem;
  h6{
    color: $grayLight;
    @extend .bree;
    font-size: 1.5rem;
    line-height: 1.92;
  }
  p{
    color: $grayLight;
    @extend .open;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  @media (min-width: $breakpoint-tablet) {
    //leaving space for right nav
    margin: 0 4rem 4rem 0;
    padding: 1rem;
  }
}

footer .col_text{
  align-self: center;
  @media (min-width: $breakpoint-tablet) {
    align-self: flex-end;
  }
}

.box{
  background-color: $yellow;
  color: white;
  display: flex;
  width: 100%;
  max-width: 250px;
  &:before{
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 100%;
  }
  .aspect-ratio-box::after { /* to clear float */
    content: "";
    display: table;
    clear: both;
  }
}

.box-container{
  max-width: 50%;
  @media (min-width: $breakpoint-tablet) {
    max-width: 100%;
  }
}

.box_dark{
  background-color: rgba(0,0,0,0.2);
  top: 20%;
}

.box__text{
  align-self: flex-end;
  flex: 1;
  padding: 0 1rem;
  text-align: center;
}

.box__text_padding{
  padding: 1rem;
}

//footer
#footer p{
  color: white;
  font-size: 1.375rem;
}

//social media
.social-media{
  font-size: 1.8rem;
  @extend .unstyled-list;
  margin: 0;
  text-align: left;
  padding: 0;
  a{
    background-color: $yellow;
    display: inline-block;
    padding: .3rem .2rem;
    transition: background-color .5s;
    &:hover, &:focus{
      background-color: $grayLight;
    }
  }
  .fas, .svg-inline--fa{
    color: white;
  }
}

//slides

.slides__text{
  bottom: 2rem;
  padding: 1rem;
  position: absolute;
  margin-right: 75%;
}

//navigation

aside{
  display: none;
  max-width: $max-width;
  margin: auto;
  pointer-events: none;
  position: fixed;
  text-align: right;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%;
  @media (min-width: $breakpoint-tablet) {
    display: block;
  }
}

.sidemenu{
  pointer-events: auto;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  right: 0;
}

.left-content{
  text-align: right;
  h1{
    line-height: 1;
    margin: 0;
  }
  ul{
    @extend .unstyled-list;
  }
}

.square{
  background: $grayLight;
  display: block;
  height: 1rem;
  margin: 1.5rem;
  width: 1rem;
  transition: background-color .2s;
  .active &{
    background: $yellow;
  }
  &:hover{
    opacity: .6;
  }
}

.arrow{
  bottom: 2rem;
  cursor: pointer;
  position: absolute;
  left: 0; 
  right: 0; 
  margin: auto;
  transition: all .3s ease-out;
  width: 50px;
  &:hover{
    transform: scale(1.2);
  }
}
