.flex-grid{
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  @media (min-width: $breakpoint-tablet) {
    flex-wrap: nowrap;
  }
}

#portfolio.flex-grid{
  display: block;
  @media (min-width: $breakpoint-tablet) {
    display: flex;
  }
}

.flex-grid_full-width{
  min-height: 100vh;
  margin: auto;
}

.flex-grid_section{
  min-height: 100vh;
  max-width: $max-width;
  margin: auto;
}

.detail .flex-grid_section{
  min-height: 0;
  @media (min-width: $breakpoint-tablet) {
    min-height: 100vh;
  }
}

.col {
  flex: 1;
  flex-grow: 1;
  padding: 1rem;
}

.col_left{
  @extend .col;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0;
  max-width: 250px;
  @media (min-width: $breakpoint-tablet) {
    flex-basis: 20%;
    flex-grow: 1;
  }
}

.col_text.col_interior{
  align-self: stretch;
  padding: 1rem 1rem 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: $breakpoint-tablet) {
    padding: 1rem 1rem 1rem 2rem;
  }
}

.project-description{
  display: inline-block;
  width: 49%;
  h3{
    margin: 0;
  }
}

.col_left_stretch{
  @extend .col_left;
  display: flex;
}

.col_75{
  flex-basis: 75%;
}

.col_25{
  @extend .col;
  align-self: flex-end;
  flex-basis: 20%;
  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 4.6875rem;
  }
}