.portfolio-menu{
  list-style-type: none;
  text-align: left;
  text-transform: uppercase;
  color: $grayLight;
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 3rem;
  padding: 0;
  li {
    display: inline-block;
    margin: .5rem 1rem .5rem 0;
    a{
      cursor: pointer;
      display: inline-block;
      transition: color, border-color, .5s;
      border-bottom: 2px solid transparent;
      &.active{
        color: $yellow;
        border-bottom: 2px solid $grayLight;
        &:hover, &:active{
          color: $yellow;
          border-bottom: 2px solid $yellow;
        }
      }
      &:hover, &:active{
        color: darken($grayLight, 20%);
      }
    }
  }
  @media (min-width: $breakpoint-tablet) {
    text-align: right;
    padding-left: 1rem;
    li {
      margin: 1.5rem 0;
      display: block;
    }
  }
}

.portfolio-wrapper{
  // align-items: stretch;
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 50fr 50fr;
  padding-bottom: 5rem;
   @media (min-width: $breakpoint-tablet) {
    grid-template-columns: 33fr 33fr 33fr;
    margin: 0 2rem 5rem 0;
    padding-bottom: 1rem;
  }
  @media (min-width: $breakpoint-desktop){
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-template-rows: 25fr 25fr 25fr;
  } 
}

.display-mobile{
  grid-column-start: 1;
  grid-column-end: span 2;
}

.portfolio-item{
  min-height: 13rem;
  display: flex;
  align-items: flex-end;
  height:auto;
  opacity: .3;
  transition: opacity .5s;
  background-size: cover;
  background-position: center center;
  background-color: black;
  position: relative;
  &.visible{
    opacity: 1;
    pointer-events: auto;
  }
  @media (min-width: $breakpoint-tablet) {
    min-height: 10rem;
  }
  &:hover, &:focus{
    
  }
}

.portfolio-item:nth-child(1n){
  background-image: url('../images/pieces/safety-works/thumbs/sw-full-suite.jpg');
}

.portfolio-item:nth-child(2n){
  background-image: url('../images/pieces/safety-works/thumbs/sw-ipad.jpg');
}

.portfolio-item:nth-child(3n){
  background-image: url('../images/pieces/safety-works/thumbs/sw-registration.jpg');
}

.portfolio-item:nth-child(4n){
  background-image: url('../images/pieces/safety-works/thumbs/sw-save-the-date.jpg');
}

.portfolio-title{
  display: none;
  margin: .5rem;
  padding: .5rem;
  h2{
    margin: 0;
    font-size: 1rem;
    line-height: 1.1;
    z-index: 10;
  }
}

.overlay{
  opacity: 0;
  transition: opacity .5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.6);
}

.portfolio-item:hover, .portfolio-item:focus{
  .overlay{
    opacity: 1;
  }
  .portfolio-title{
    display: block;
    z-index: 100;
  }
}

